:root {
  --background: #061018;
  --nav: #121e2c;
  --container: #121e2c;
  --accent: #af54caf5;
  --text: white;
  --row1: #f9f9f9;
  --row2: #ededed;
  --shadow: 0 1px 8px rgb(0, 0, 0);
}

body {
  background-color: var(--background);
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  margin: 0;
  color: var(--text);
}

.main-title, .sub-title {
  padding: 1em;
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child-container {
  background-color: var(--container);
  box-shadow: var(--shadow);
  margin: 1em;
  padding: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.pie {
  width: 10rem;
  height: 10rem;
}

button {
  background-color: var(--accent);
  border: none;
  color: var(--text);
  margin: 1em;
  padding: .5em;
  font-size: 1.2em;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: var(--background);
}

.icon {
  vertical-align: middle;
  margin-right: 5px;
}

.sub-title {
  color: var(--row1);
}